# 파이썬 50제_1부

In [22]:
# 2번 : all_unique
def all_unique(lst):
    return len(lst) == len(set(lst))

print(all_unique([1, 2, 3, 4, 5, 6]))
print(all_unique([1, 2, 2, 3, 4, 5]))

True
False

In [4]:
# 3번 : capitalize every word
# title() - 모든 문자열의 첫글자가 대문자로 변환
s = "hello world"

def capitalize_every_word(s):
    return s.title()
    
print(capitalize_every_word(s))

def capitalize_every_word(s):
    return s.capitalize()
print(capitalize_every_word(s))

Hello World
Hello world

In [8]:
# 4번 : celsius to fahrenheit
celsius = 180

def celsius_to_fahrenheit(celsius):
    return ((celsius * 1.8) + 32)

print(celsius_to_fahrenheit(celsius))

356.0

In [11]:
# 5번 : compact
# filter() = False, None, 0, "" 제거
lst = [0, 1, False, 2, '', 3, 'a', 's', 34]

def compact(lst):
    return list(filter(None,lst))

print(compact(lst))

[1, 2, 3, 'a', 's', 34]

In [14]:
# 6번 : count occurences
lst = [1,1,2,1,2,3]

def count_occurences(lst, val):
    return len([x for x in lst if x == val and type(x) == type(val)])

print(count_occurences(lst,1))

3

In [15]:
# 7번 : degrees to rads
from math import pi 
degrees = 180

def degrees_to_rads(degrees):
    return (degrees * pi) / 180.0

print(degrees_to_rads(degrees))

3.141592653589793

In [18]:
# 8번 : difference
lst1 = [1,2,3]
lst2 = [1,2,4]

def difference(a,b) : 
    _b = set(b)
    return [x for x in a if x not in _b]

print(difference(lst1, lst2))

#def difference(a:"a list", b:"a list")->"a list":
#    return list(set(a)-set(b))

[3]

In [19]:
# 9번 : digitize
a = 123

def digitize(n):
    return list(map(int, str(n)))

print(digitize(a))

[1, 2, 3]

In [21]:
# 10번 : drop
def drop(lst, n=1):
    return lst[n:]

print(drop([1,2,3]))
print(drop([1,2,3],2))
print(drop([1,2,3],42))

[2, 3]
[3]
[]

# 파이썬 50제_2부

In [25]:
# 1번 : drop right
def drop_right(lst, n=1):
    return lst[:-n]

print(drop([1,2,3]))
print(drop([1,2,3],2))
print(drop([1,2,3],42))

[2, 3]
[3]
[]

In [27]:
# 2번 : every nth
lst = [1,2,3,4,5,6]

def every_nth(lst, n):
    return lst[n-1::n]
print(every_nth(lst, 2))
print(every_nth(lst, 3))

[2, 4, 6]
[3, 6]

In [29]:
# 3번 : fahrenheit to celsius
fahrenheit = 77

def fahrenheit_to_celsius(fahrenheit):
    return ((fahrenheit - 32) / 1.8)

print(fahrenheit_to_celsius(fahrenheit))

25.0

In [30]:
# 4번 : filter non-unique
# Counter() -  Counter({1: 1, 2: 2, 3: 1, 4: 2, 5: 1})
lst = [1,2,2,3,4,4,5]

from collections import Counter

def filter_non_unique(lst):
    return [x for x,count in Counter(lst).items() if count == 1]

filter_non_unique(lst)

[1, 3, 5]

In [34]:
# 5번 : filter unique
lst = [1,2,2,3,4,4,5]

from collections import Counter

def filter_unique(lst):
        return [x for x,count in Counter(lst).items() if count > 1]
filter_unique(lst)

[2, 4]

In [35]:
# 6번 : for each
itr = [1,2,3]
fn = print

def for_each(itr, fn):
    for i in itr:
        fn(i)
for_each(itr, fn)

1
2
3

In [36]:
# 7번 : for each right
itr = [1,2,3]

def for_each_right(itr, fn):
    for i in itr[::-1]:
        fn(i)

for_each_right(itr, print)

3
2
1

In [40]:
# 8번 : has duplicates
lst = [1,2,3]

def has_duplicates(lst):
     return len(lst) != len(set(lst))

has_duplicates(lst)

False

In [41]:
# 9번 : head
lst = [1,2,3]

def head(lst):
    return lst[0]

head(lst)

1

In [43]:
# 10번 : in range
def in_range(n, start, end=0):
    return start <= n <= end if end >= start else end <= n <= start

print(in_range(3,2,5))
print(in_range(3,4))
print(in_range(2,3,5))
print(in_range(3,2))

True
True
False
False

# 파이썬 50제_3부

In [44]:
# 1번 : initial
# 리스트의 마지막 원소 를 제외한 나머지 모든 원소를 반환하는 코드를 작성하세요.
lst = [1,2,3,4,5]

def initial(lst):
    return lst[0:-1]
initial(lst)

[1, 2, 3, 4]

In [45]:
# 2번 : initialize list with range
# 주어진 범위 만큼의 리스트를 생성하는 코드를 작성하세요.단, start 와 end 는 범위를 지정하며, step 은 원소간의 간격을 의미합니다.
def initialize_list_with_range(end, start=0, step=1):
    return list(range(start, end + 1, step))
print(initialize_list_with_range(5))
print(initialize_list_with_range(7,3))
print(initialize_list_with_range(9,0,2))

[0, 1, 2, 3, 4, 5]
[3, 4, 5, 6, 7]
[0, 2, 4, 6, 8]

In [47]:
# 3번 : initialize list with values
# 주어진 값으로 채워진 리스트를 생성하는 코드를 작성하세요.
def initialize_list_with_values(n, val=0):
    return [val for x in range(n)]
print(initialize_list_with_values(5))
print(initialize_list_with_values(5,2))
print(initialize_list_with_range(3,3))

[0, 0, 0, 0, 0]
[2, 2, 2, 2, 2]
[3]

In [48]:
# 4번 : intersection
# 두 리스트에 모두 존재하는 값을 반환하는 코드를 작성하세요.
lst1 = [1,2,3]
lst2 = [2,3,4] 

def intersection(a,b):
    _a, _b = set(a), set(b)
    return list(_a & _b)
intersection(lst1,lst2)

[2, 3]

In [50]:
# 5번 : is divisible
# 첫번째 숫자(dividend)가 두번째 숫자(divisor)로 나누어 떨어지는지 확인하는 코드를 작성하세요.
a = 9
b = 3

def is_divisible(dividend, divisor):
    return dividend % divisor == 0

is_divisible(a, b)

True

In [51]:
# 6번 : is even
# 주어진 숫자가 짝수일 경우 True를, 홀수인 경우 False를 반환하는 코드를 작성하세요.
a = 9

def is_even(num):
    return num % 2 ==0

is_even(a)

False

In [53]:
# 7번 : is odd
# 주어진 숫자가 홀수일 경우 True를, 짝수인 경우 False를 반환하는 코드를 작성하세요.
a = 4

def is_odd(num):
    return num % 2 !=0

is_odd(a)

False

In [54]:
# 8번 : keys only
ages = {
	"Peter":10,
	"Isabel":11,
	"Anna":9,
}

def keys_only(flat_dict):
    return list(flat_dict.keys())
keys_only(ages)

['Peter', 'Isabel', 'Anna']

In [55]:
# 9번 : last
# 리스트의 마지막 값을 반환하는 코드를 작성하세요.

lst = [1,2,3]

def last(lst):
    return lst[-1]

last(lst)

3

In [56]:
# 10번 : max by
# 주어진 함수 fn를 리스트 lst의 각 값에 적용한 뒤, 최댓값을 반환하는 코드를 작성하세요.
lst = [{'n':4},{'n':2},{'n':8},{'n':6}]
fn = lambda v:v['n']

def max_by(lst, fn):
    return max(map(fn, lst))

max_by(lst, fn)

8

# 파이썬 50제_4부

In [58]:
# 1번 : max element index
# 리스트에서 가장 큰 값의 인덱스를 반환하는 코드를 작성하세요.
lst = [5,8,9,7,10,3,0]

def max_element_index(lst):
    return lst.index(max(lst))
max_element_index(lst)

4

In [61]:
# 2번 : max n
# 리스트에서 큰 순서대로 n개의 값을 반환하는 코드를 작성하세요.
def max_n(lst, n=1):
    return sorted(lst, reverse=True)[:n]
print(max_n([1,2,3]))
print(max_n([1,2,3], 2))

[3]
[3, 2]

In [64]:
# 3번 : median
# 숫자로 구성된 리스트에서 중앙값(median)을 반환하는 코드를 작성하세요.
def median(lst):
    lst.sort()
    length = len(lst)
    if length % 2 == 0:
        return (lst[int(length / 2) - 1 ] + lst[int(length / 2 )]) / 2
    return lst[int(length / 2)]

print(median([1,2,3]))
print(median([1,2,3,4]))

2
2.5

In [65]:
# 4번 : min by
# 주어진 함수를 리스트의 각 값에 적용한 뒤, 최솟값을 반환하는 코드를 작성하세요.
lst = [{'n':4},{'n':2},{'n':8},{'n':6}]
fn = lambda v:v['n']

def min_by(lst, fn):
    return min(map(fn,lst))

min_by(lst, fn)

2

In [66]:
# 5번 : min n
# 리스트에서 작은 순서대로 n개의 값을 반환하는 코드를 작성하세요.
def min_n(lst, n=1):
    return sorted(lst, reverse=False)[:n]
print(min_n([1,2,3]))
print(min_n([1,2,3], 2))

[1]
[1, 2]

In [68]:
# 6번 : most frequent
# 리스트에서 가장 많이 등장하는 값을 반환하는 코드를 작성하세요.
def most_frequent(lst):
    return max(set(lst), key = lst.count)
print(most_frequent([1,2,3,4,4]))
print(most_frequent([1,2,1,2,3,2,1,4,2]))

4
2

In [69]:
# 7번 : n time string
# 주어진 개수만큼 동일한 문자열을 출력하는 코드를 작성하세요.
def n_time_string(s,n):
        return(s*n)
n_time_string('py',4)

'pypypypy'

In [70]:
# 8번 : offset
# 주어진 수(n)만큼의 값을 리스트의 끝으로 이동시키는 코드를 작성하세요.
def offset(lst,n):
    return lst[n:] + lst[:n]
print(offset([1,2,3],1))
print(offset([3,4,5,6,7],2))

[2, 3, 1]
[5, 6, 7, 3, 4]

In [74]:
# 9번 : rads to degrees
# rads 를 degrees 로 변환하는 코드를 작성하세요.
from math import pi 
import math
def rads_to_degrees(rads):
    return (rads * 180.0) / math.pi
rads_to_degrees(math.pi/2)

90.0

In [75]:
# 10번 : reverse string
# 문자열을 거꾸로 뒤집는 코드를 작성하세요.
s="snippet"

def reverse_string(s):
    return s[::-1]
reverse_string(s)

'teppins'

# 파이썬 50제_5부

In [77]:
# 1번 : sample
# 리스트에서 랜덤하게 값을 가져오는 코드를 작성하세요.
from random import randint
ages=[12,12,13,14,15]

def sample(lst):
    return lst[randint(0, len(lst) - 1)]

sample(ages)

14

In [78]:
# 2번 : similarity
# 두 리스트에 모두 있는 값들을 리스트로 반환하는 코드를 작성하세요.
lst1 = [1, 2, 3]
lst2 = [1, 2, 4]

def similarity(a, b):
    return [item for item in a if item in b]
similarity(lst1, lst2)

[1, 2]

In [79]:
# 3번 : split lines
# 줄 바꿈 이스케이프 코드(\n)로 나뉘어 여러 줄로 이루어진 문자열을 각각 리스트로 분할하는 코드를 작성하세요.
corpus = 'Sentence1\nSentence2\nSentence3'

def split_lines(corpus):
    return corpus.split('\n')

split_lines(corpus)

['Sentence1', 'Sentence2', 'Sentence3']

In [80]:
# 4번 : sum by
# 주어진 함수를 리스트의 각 값에 적용한 뒤, 합계를 반환하는 코드를 작성하세요.
lst = [{'n':4},{'n':2},{'n':8},{'n':6}]
fn = lambda v:v['n']

def sum_by(lst, fn):
    return sum(map(fn,lst))

sum_by(lst, fn)

20

In [81]:
# 5번 : tail
# 리스트의 첫 값을 제외한 나머지 값을 반환하는 코드를 작성하세요.
lst = [1, 2, 3, 4, 5]

def tail(lst):
    return lst[1:] if len(lst) > 1 else lst 

tail(lst)

[2, 3, 4, 5]

In [82]:
# 6번 : take
# 리스트의 앞에서부터의 n개 값을 가져와 반환하는 코드를 작성하세요.
def take(itr, n=1):
    return itr[:n]
print(take([1,2,3,4,5],3))
print(take([1,2,3],5))
print(take([1,2,3],0))

[1, 2, 3]
[1, 2, 3]
[]

In [84]:
# 7번 : take right
# 리스트의 끝에서부터의 n개 값을 가져와 반환하는 코드를 작성하세요.
def take_right(itr, n=1):
    return itr[-n:]
print(take_right([1,2,3,4,5],3))
print(take_right([1,2,3],5))
print(take_right([1,2,3]))

[3, 4, 5]
[1, 2, 3]
[3]

In [87]:
# 8번 : union
# 두 리스트에 하나라도 존재하는 값을 모두 반환하는 코드를 작성하세요.
a = [1,2,3,99]
b = [2,3,4,52] 

def union(a,b):
    return sorted(list(set(a+b)))
union(a,b)

def union(a,b):
  return list(set(a).union(set(b)))
union(a,b)

[1, 2, 99, 3, 4, 52]

In [88]:
# 9번 : unique elements
# 리스트에서 하나 이상의 중복된 값을 제거한 후 정렬하는 코드를 작성하세요.
lst = [1,4,4,4,5,5,2,3]

def unique_elements(lst):
    return list(set(lst))

unique_elements(lst)

[1, 2, 3, 4, 5]

In [89]:
# 10번 : values only
# 딕셔너리의 모든 값을 리스트로 변환하는 코드를 작성하세요.
ages = {
	"Peter":10,
	"Isabel":11,
	"Anna":9,
}

def values_only(flat_dict):
    return list(flat_dict.values())

values_only(ages)

[10, 11, 9]