In [5]:
# 1번 : 스타일 적용
# 데이터프레임에 음의 값이 입력되는 경우 해당 값의 글자 색상이 초록색(#00FF00)으로 출력되고, 나머지 값은 파랑색(#0000FF)으로 출력되는 color_np_gb 함수를 만드세요.
import pandas as pd
import numpy as np

# make sample DataFrame
np.random.seed(123)
df = pd.DataFrame(np.random.randn(3, 4), 
                  columns = ["A", "B", "C", "D"])

def color_np_gb(value):
    color = 'green' if value < 0 else 'blue'
    return "color: " + color

df.style.applymap(color_np_gb) # output

In [17]:
# 2번 : 부분 적용
# 판다스 데이터프레임 df 객체에 숫자가 음수인 경우 숫자를 빨강으로 하고 양수인 경우 파랑으로 하는 함수 color_np() 를 column A과 column C의 첫 번째와 세 번째 행에 적용하세요.
import pandas as pd
import numpy as np

np.random.seed(123)
df = pd.DataFrame(np.random.randn(3, 4), 
                  columns = ["A", "B", "C", "D"])

def color_np(value):
    if value < 0:
        color = "red"
    else:
        color = "blue"
    
    return "color: " + color

df.style.applymap(color_np,
                  subset = pd.IndexSlice[[1, 2], ["B", "D"]])

row_index = [0,2]
col_index = ['A','C']
df.style.applymap(color_np,
                  subset = pd.IndexSlice[row_index, col_index])

In [30]:
# 3번 : 결측치 강조
# 데이터프레임 내부의 값이 판다스 결측값을 포함하여 빈칸, '-', 'x' 와 같은 문자 또한 결측치로 간주하여 해당 셀의 색상이 #FFAACC 로 되도록 함수 na_fill_02 와 .applymap() 함수의 내부 코드를 수정해보세요.

np.random.seed(456)
df2 = pd.DataFrame(np.random.randn(3, 4), 
                   columns = ["A", "B", "C", "D"])
df2.iloc[[0, 2], 1] = pd.NA
df2.iloc[[0, 2], 3] = ""
df2.iloc[1, 2] = "-"
df2.iloc[2, 2] = "x"

def na_fill_02(value):
    if (pd.isna(value)) | (value == "") | (value =="-") | (value == 'x'):
        fill = "pink"
    else:
        fill = "inherit"
    
    return "background-color: " + fill

df2.style.applymap(na_fill_02)

In [37]:
# 4번 : 변수명 강조
# 데이터프레임 변수 부분의 배경 색상이 #EEEEEE가 되도록 styles 객체에 입력되는 값을 변경하세요.
import pandas as pd
import numpy as np

np.random.seed(123)
df = pd.DataFrame(np.random.randn(3, 4), 
                  columns = ["A", "B", "C", "D"])

styles = [dict(selector="tr:hover",   props=[("background-color", "%s" % "#EEEEEE")]),
          dict(selector = "thead th", props = [("font-size", "150%"), 
                                               ("text-align", "center")]
					)]

df.style.set_table_styles(styles)

In [61]:
# 5번 : 표기법 변경
#데이터프레임 A와 B 변수의 값을 백분률로 변환하고 반올림하여 소수점 둘 째 자리까지 표기하세요.
#그리고 C 변수의 값은 세 자리 마다 쉼표를 표기하고 뒤에 "원"을 붙이세요.
#마지막으로 D 변수의 값은 세 자리 마다 쉼표를 표기하고 뒤에 "$"를 붙이세요.
import pandas as pd
import numpy as np

np.random.seed(123)
df1 = pd.DataFrame(np.random.uniform(size = (3, 2)).round(4),
                   columns = ["A", "B"])
df2 = pd.DataFrame(np.random.uniform(low = 2000, high = 20000, size = (3, 2)).astype("int"),
                   columns = ["C", "D"])
df = pd.concat([df1, df2], axis = 1)

style_dict = dict()
df.style.format(style_dict).format({'A':"{:.2%}",
                                    'B':"{:.2%}",
                                    'C':"{:,}원",
                                    'D':"{:,}$"})

In [66]:
# 6번 : 다중 적용
# 데이터프레임 내부 값의 결측치를 .highlight_null() 메서드를 사용하여 강조하고,
# 사용자 정의 함수 highlight_max_green()을 새로 만들어 행 기준 최대값이 위치한 셀의 배경색이 초록색('green') 이 되도록 하세요.

import pandas as pd
import numpy as np

np.random.seed(123)
df1 = pd.DataFrame(np.random.uniform(size = (3, 2)).round(4),
                   columns = ["A", "B"])
df2 = pd.DataFrame(np.random.uniform(low = 2000, high = 20000, size = (3, 2)).astype("int"),
                   columns = ["C", "D"])
df = pd.concat([df1, df2], axis = 1)
df.iloc[0, 2] = pd.NA

def highlight_max_green(s):
    is_max = s == s.max()
    return ['background-color: green' if v else '' for v in is_max]

(df.style.apply(highlight_max_green)
        .highlight_null("red"))

In [67]:
# 7번 : 제목 및 캡션
# 데이터프레임의 제목을 "Title"로 지정하세요. 제목의 추가 설정으로 font-weight를 700, font-size는 40px, text-align은 가운데로 지정해주세요.

import pandas as pd
import numpy as np

np.random.seed(123)
df = pd.DataFrame(np.random.randn(3, 4), 
                  columns = ["A", "B", "C", "D"])

caption_props = [("caption-side", "top"),
                 ("color", "#3551FB"),
                 ("font-weight", "700"),
				 ("font-size", "40px"),
                 ("text-align", "center")			
								]

df.style.set_caption("Title")\
    .set_table_styles([dict(selector = "caption", 
                            props = caption_props)])