# 문제를 해결하는 힘을 길러요, 프로그래밍
# 변수와 자료형

In [ ]:
l = [100, 200, 300]

print(type(l))

<class 'list'>

In [ ]:
# 2번 : 변수의 자료형 2
# 다음 베이스라인의 출력 결과를 작성하세요.
# 베이스라인처럼 변수 a를 입력으로 받아서, print(type(a)) 로 넣었을 때 변수의 자료형이 출력됩니다.

a = 1
b = 2.22
c = 'p'
d = [1, 2, 3]

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

In [ ]:
# 3번 : false
# 다음 베이스라인중, 파이썬 문법상 FALSE로 간주하지 않고 TRUE로 간주하는 변수를 고르세요.

a = None
b = 1
c = ""
d = 0
e = bool(0)

In [ ]:
a = None
b = 1
c = ""
d = 0
e = bool(0)

if a:
    print("a is True")
if b:
    print("b is True")
if c:
    print("c is True")
if d:
    print("d is True")
if e:
    print("e is True")

b is True

In [ ]:
# 4번 : 변수명
# 다음 베이스라인에서 변수명으로 사용할 수 없어 에러가 출력되는 코드를 2개 고르세요.
age = 0
a = 1
#as = 'hello'
_age = 'world'
#1age = 3.14

SyntaxError: ignored

In [ ]:
# 5번 : 패션대회
import re

records = "1번: 4,2,3 2번: 3 3번: 2,3,4,1 4번: 2,3"
unique_item = []

regex = re.compile("\d번")
reg = regex.findall(records)
for i in reg:
    records = records.replace(i,'')
res = re.findall("\d+", records)
unique_item = sorted(set(res), key = lambda x: res.index(x))
print(unique_item)

['4', '2', '3', '1']

# 입출력

In [ ]:
# 1번 : 자기소개
# 신학기가 시작되고, 아이들이 돌아가면서 자기소개를 하기로 했습니다. 이름을 입력하면 자기소개를 하는 문장이 출력되도록 코드를 작성하세요.
print('안녕하세요. 저는',input()+'입니다.')

김다정
안녕하세요. 저는 김다정입니다.

In [ ]:
# 2번 : OX문제
# print(10/2)의 출력 결과는 5인가요? 맞다면 O, 틀리다면 X 를 제출하세요.
if print(10/2) == 5:
    print('O')
else:
    print('X')

5.0
X

In [ ]:
# 3번 : sep과 end를 활용한 출력방법
year = '2020'
month = '09'
day = '01'
hour = '11'
minute = '34'
second = '27'
print(year, month, day, sep = '/', end = ' ')
print(hour, minute, second,sep = ':' )

2020/09/01 11:34:27

# 조건문

In [ ]:
# 1번 : 놀이기구 키 제한
#입력으로 키가 주어지면, 키가 150이 넘으면 True를 틀리면 False를 출력하는 코드를 작성하세요.

a , b = int(input()), float(input())
if a > 150:
    print(True)
else:
    print(False)
if b > 150:
    print(True)
else:
    print(False)

154
37.8
True
False

In [ ]:
for i in range(2):
    height = float(input())
    if height < 150:
        False
    else:
        True

154
37.8

In [ ]:
# 2번 : 3의 배수 인가요
# 입력으로 랜덤한 숫자 n이 주어집니다. 만약 그 수가 3의 배수라면 '짝'이라는 글자를, 3의 배수가 아니라면 n을 그대로 출력하는 코드를 작성해주세요.
for i in range(2):
    n = int(input())
    if n % 3 == 0:
        print('8')
    else:
        print(n)

3
짝
8
8

In [ ]:
while 1:
    try:
        n = int(input())
    except:
        break
    if n % 3 == 0: # n을 3으로 나눈 나머지가 0이면 == 3의 배수
        print('짝')
    else:
        print(n)

3
짝
8
8
ㅂㅈㄷ

In [ ]:
# 3번 : 배수인지 확인하기
#변수 i가 6의 배수인지 확인하여, 맞으면 True, 틀리면 False 를 출력하는 코드를 작성하세요.

i = 7
if i % 6 == 0:
    print(True)
else:
    print('NO')

NO

In [ ]:
# 4번 : 연속되는 수
# 숫자가 공백으로 구분되어 주어지면, 이 숫자의 배열이 연속수인지 아닌지 True/False 로 판별하는 코드를 작성해주세요. (단, 자연수와 음수를 포함한 정수를 입력으로 받으며, 연속인지 아닌지의 기준은 정수를 기준으로 한다.)

for i in range(6):
    try:
            n = list(map(int, input().split()))
            res = sorted(n)
            if res[i+1] == res[i] + 1:
                print(True)
            else:
                print(False)
    except ValueError:
        print('정수가 아닌수가 포함되어 있습니다.')

99 100 101
True
-2 -1 0 1 2
True
0.1 0.2 0.3
정수가 아닌수가 포함되어 있습니다.
1 1.5 2
정수가 아닌수가 포함되어 있습니다.
1 4 2 6

IndexError: ignored

In [ ]:
for i in range(6):
    try:
        new_list = list(map(int, input().split()))
        new_list = sorted(new_list)
        start = new_list[0]
        for i in new_list:
            if start == i:
                start += 1
                continue
            else:
                print(False)
                break
            print(True)
    except ValueError:
        print('정수가 아닌수가 포함되어 있습니다.')

1 2 4 3 5
1 4 2 6
False
99 100 101
-2 -1 0 1 2
0.1 0.2 0.3
정수가 아닌수가 포함되어 있습니다.
1 1.5 2
정수가 아닌수가 포함되어 있습니다.

# 반복문

In [ ]:
# 1번 : for문 계산
# 다음 베이스라인의 출력값은 무엇인가요?

a = 10
b = 2
for i in range(1, 5, 2):
    a += i
 
print(a+b)

16

In [ ]:
# 2번 : 구구단 출력하기
# 1~9까지의 숫자 중 하나를 입력하면 그 단의 구구단 결과를 한 줄에 출력하는 코드를 작성해보세요.

x = int(input())
res = []
for y in range(1, 10):
    res.append(x*y)
res

2

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
num = input() 

nums_list = list([str(i*int(num)) for i in range(1, 10)])
print(', '.join(nums_list))

2
2, 4, 6, 8, 10, 12, 14, 16, 18

In [ ]:
a = int(input())
for i in range(1, 10):
    print(f'{a}x{i} = {a*i}')

2
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18

In [ ]:
# 3번 : for문을 이용한 기본 활용
# 0부터 100까지를 모두 더하는 코드를 작성하세요. (단, for문을 활용하세요.)

sum = 0
for i in range(0,101):
    sum += i
print(sum)

5050

In [ ]:
# 4번 : 별 찍기
a = int(input())
for i in range(1,a+1):
    for j in range(a+1 -i):
        print(" ", end ="")
    for j in range(2 * i -1):
        print("*", end = "")
    print()

5
     *
    ***
   *****
  *******
 *********

# 리스트

In [ ]:
# 1번 : 리스트의 삭제
# 주어진 리스트에서 400, 500을 삭제하는 코드를 작성하세요.

nums = [100, 200, 300, 400, 500]
del nums[4]
del nums[3]
print(nums)

[100, 200, 300]

In [ ]:
nums = [100, 200, 300, 400, 500]

nums.remove(400)
nums.remove(500)

In [ ]:
# 2번 : 리스트의 내장함수
# 주어진 리스트의 중간에 숫자를 삽입하는 코드를 작성하세요.
nums = [200, 100, 300]
nums.insert(2,10000)
print(nums)

[200, 100, 10000, 300]

In [ ]:
# 3번 : 변형된 리스트
# 다음과 같이 리스트를 조작하는 코드를 작성하세요.

a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']

list(map(list,zip(a,b)))

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [ ]:
print([list(i) for i in list(zip(a,b))])

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [ ]:
a = [1, 2, 3, 4]
b = ['a', 'b', 'c', 'd']
z = 1
c = []


for n in range(len(a)):
    if z%2 == 0:
        c.append([b[n], a[n]])
        z = z+1
    
    else: 
        c.append([a[n], b[n]])
        z +=1
c

[[1, 'a'], ['b', 2], [3, 'c'], ['d', 4]]

In [ ]:
# 4번 : enumerate
# 새학기가 되어 이름을 가나다 순서대로 배정하고 번호를 매기려고 합니다.
# 입력받은 명단 리스트를 처리하여, 이름과 번호를 아래와 같이 출력하는 코드를 작성해주세요.
student = ['강은지','김유정','박현서','최성훈','홍유진',
           '박지호','권윤일','김채리','한지호','김진이',
           '김민호','강채연']
for i,k in enumerate(student):
    print('번호:',i,', 이름:',k)

번호: 0 , 이름: 강은지
번호: 1 , 이름: 김유정
번호: 2 , 이름: 박현서
번호: 3 , 이름: 최성훈
번호: 4 , 이름: 홍유진
번호: 5 , 이름: 박지호
번호: 6 , 이름: 권윤일
번호: 7 , 이름: 김채리
번호: 8 , 이름: 한지호
번호: 9 , 이름: 김진이
번호: 10 , 이름: 김민호
번호: 11 , 이름: 강채연

In [ ]:
student = ['강은지','김유정','박현서','최성훈','홍유진',
           '박지호','권윤일','김채리','한지호','김진이',
           '김민호','강채연']


for i in range(len(student)):
    print(f'번호: {i} 이름: {student[i]}')

번호: 0 이름: 강은지
번호: 1 이름: 김유정
번호: 2 이름: 박현서
번호: 3 이름: 최성훈
번호: 4 이름: 홍유진
번호: 5 이름: 박지호
번호: 6 이름: 권윤일
번호: 7 이름: 김채리
번호: 8 이름: 한지호
번호: 9 이름: 김진이
번호: 10 이름: 김민호
번호: 11 이름: 강채연

# 산술과 기초수학

In [ ]:
# 1번 : 평균 점수
# 공백으로 구분하여 세 과목의 점수가 주어지면, 전체 평균 점수를 구하는 프로그램을 작성하세요.
a,b,c = map(int, input().split())
print(round((a+b+c) / 3))

20 30 40
30

In [ ]:
#a = input().split(' ')
#z = []
#for i in range(len(a)):
    #z.append(int(a[i]))

#print(int(sum(z)/len(z)))

In [ ]:
# 2번 : 제곱을 구하자
# 공백으로 구분하여 두 숫자 a와 b가 주어지면, a의 b제곱(a의 b승)을 구하는 코드를 작성하세요.

for _ in range(2):
    a,b = map(int, input().split())
    print(a ** b)

2 3
8
8 2
64

In [ ]:
# 3번 : 몫과 나머지
# 공백으로 구분하여 두 숫자가 주어집니다.
# 첫번째 숫자로 두번째 숫자를 나누었을 때, 그 몫과 나머지를 공백으로 구분하여 출력하는 코드를 작성하세요.

for _ in range(2):
    a,b = map(int, input().split())
    print(a//b, a%b)

10 2
5 0
10 3
3 1

In [ ]:
# 4번 : 원의 넓이를 구하세요
# 원의 넓이를 구하는 코드를 작성해봅시다.
# 입력을 반지름의 길이로 정수 n이 주어지면 원의 넓이를 반환하는 함수를 작성해주세요.
print(3.14 * int(input()) ** 2)

5
78.5

In [ ]:
from math import pi


def cycle():
    n = int(input())
    return n * n *pi


print(cycle())

5
78.53981633974483

In [ ]:
# 5번 : Time 함수 사용하기
import time
print(time.strftime('%Y-%m-%d', time.localtime(time.time()))[0:4])

2021

In [ ]:
print(f'{time.strftime("%Y")}')

2021

In [ ]:
# 최대값 구하기
# 순서가 없는 N개의 숫자가 공백으로 구분되어 주어집니다.
# 주어진 숫자들 중 최댓값을 반환하는 코드를 작성하세요.
for _ in range(2):
    print(max(map(int, input().split())))

5 3 7 6
7
10 9 8 7 6 5 4 3 2 1 0
10

In [ ]:
# 7번 : 반 평균 등수
# 30명의 학생으로 이루어진 한 반의 학생들의 성적 데이터를, 아래 베이스라인 을 이용해 생성하세요.
# 생성된 랜덤 데이터를 통해서 과목별 평균 그리고 학생별 평균 을 구하는 코드를 작성하세요.

import random as r
import numpy as np

score = []
class_score = []
average_score_by_student = []
average_score_by_subject = []
score_subject = [[], [], [], [] ,[]]

for z in range(30):
    class_score.append(score)
    average_score_by_student.append(np.mean(score, dtype = np.int))
    for i in range(5):
        score.append(r.randint(1, 100))
        score_subject[i].append(score[i])
average_score_by_subject = [np.mean(score_subject[i]) for i in range(5)]

print(average_score_by_subject)
print(average_score_by_student)

[43.0, 27.0, 83.0, 87.0, 49.0]
[-9223372036854775808, 57, 50, 56, 54, 54, 50, 49, 50, 49, 49, 49, 47, 47, 46, 45, 45, 46, 45, 46, 46, 46, 45, 46, 44, 45, 45, 46, 45, 45]

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:3373: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/lib/python3.7/dist-packages/numpy/core/_methods.py:170: RuntimeWarning: invalid value encountered in long_scalars
  ret = ret.dtype.type(ret / rcount)

In [ ]:
# 8번 : 순열과 조합
# 한글의 자음(consonant)으로 이루어진 리스트 ll 과, 14 이하의 임의의 수 nn을 입력으로 받아,
# ll 에서 nn개의 자음을 뽑을 때, 만들 수 있는 모든 조합(combination)과, 그 개수를 출력하는 코드를 작성하세요.
from itertools import combinations

consonant = input()
combination = list(combinations(consonant,2))
print(combination)
print(len(combination))

['ㄱ','ㄴ','ㄷ','ㄹ']
[('[', "'"), ('[', 'ㄱ'), ('[', "'"), ('[', ','), ('[', "'"), ('[', 'ㄴ'), ('[', "'"), ('[', ','), ('[', "'"), ('[', 'ㄷ'), ('[', "'"), ('[', ','), ('[', "'"), ('[', 'ㄹ'), ('[', "'"), ('[', ']'), ("'", 'ㄱ'), ("'", "'"), ("'", ','), ("'", "'"), ("'", 'ㄴ'), ("'", "'"), ("'", ','), ("'", "'"), ("'", 'ㄷ'), ("'", "'"), ("'", ','), ("'", "'"), ("'", 'ㄹ'), ("'", "'"), ("'", ']'), ('ㄱ', "'"), ('ㄱ', ','), ('ㄱ', "'"), ('ㄱ', 'ㄴ'), ('ㄱ', "'"), ('ㄱ', ','), ('ㄱ', "'"), ('ㄱ', 'ㄷ'), ('ㄱ', "'"), ('ㄱ', ','), ('ㄱ', "'"), ('ㄱ', 'ㄹ'), ('ㄱ', "'"), ('ㄱ', ']'), ("'", ','), ("'", "'"), ("'", 'ㄴ'), ("'", "'"), ("'", ','), ("'", "'"), ("'", 'ㄷ'), ("'", "'"), ("'", ','), ("'", "'"), ("'", 'ㄹ'), ("'", "'"), ("'", ']'), (',', "'"), (',', 'ㄴ'), (',', "'"), (',', ','), (',', "'"), (',', 'ㄷ'), (',', "'"), (',', ','), (',', "'"), (',', 'ㄹ'), (',', "'"), (',', ']'), ("'", 'ㄴ'), ("'", "'"), ("'", ','), ("'", "'"), ("'", 'ㄷ'), ("'", "'"), ("'", ','), ("'", "'"), ("'", 'ㄹ'), ("'", "'"), ("'", ']'), ('ㄴ', "'"), ('ㄴ', ','), ('ㄴ', "'"), ('ㄴ', 'ㄷ'), ('ㄴ', "'"), ('ㄴ', ','), ('ㄴ', "'"), ('ㄴ', 'ㄹ'), ('ㄴ', "'"), ('ㄴ', ']'), ("'", ','), ("'", "'"), ("'", 'ㄷ'), ("'", "'"), ("'", ','), ("'", "'"), ("'", 'ㄹ'), ("'", "'"), ("'", ']'), (',', "'"), (',', 'ㄷ'), (',', "'"), (',', ','), (',', "'"), (',', 'ㄹ'), (',', "'"), (',', ']'), ("'", 'ㄷ'), ("'", "'"), ("'", ','), ("'", "'"), ("'", 'ㄹ'), ("'", "'"), ("'", ']'), ('ㄷ', "'"), ('ㄷ', ','), ('ㄷ', "'"), ('ㄷ', 'ㄹ'), ('ㄷ', "'"), ('ㄷ', ']'), ("'", ','), ("'", "'"), ("'", 'ㄹ'), ("'", "'"), ("'", ']'), (',', "'"), (',', 'ㄹ'), (',', "'"), (',', ']'), ("'", 'ㄹ'), ("'", "'"), ("'", ']'), ('ㄹ', "'"), ('ㄹ', ']'), ("'", ']')]
136

In [ ]:
from itertools import combinations as combi

consonant = input('자음을 입력해주세요')
n = input('조합을 만들 개수를 입력해주세요') 

combination = []

combination = list(map(''.join, combi(list(consonant), int(n))))


print(combination)
print(len(combination))

자음을 입력해주세요['ㄱ','ㄴ','ㄷ','ㄹ']
조합을 만들 개수를 입력해주세요3
["['ㄱ", "[''", "[',", "[''", "['ㄴ", "[''", "[',", "[''", "['ㄷ", "[''", "[',", "[''", "['ㄹ", "[''", "[']", "[ㄱ'", '[ㄱ,', "[ㄱ'", '[ㄱㄴ', "[ㄱ'", '[ㄱ,', "[ㄱ'", '[ㄱㄷ', "[ㄱ'", '[ㄱ,', "[ㄱ'", '[ㄱㄹ', "[ㄱ'", '[ㄱ]', "[',", "[''", "['ㄴ", "[''", "[',", "[''", "['ㄷ", "[''", "[',", "[''", "['ㄹ", "[''", "[']", "[,'", '[,ㄴ', "[,'", '[,,', "[,'", '[,ㄷ', "[,'", '[,,', "[,'", '[,ㄹ', "[,'", '[,]', "['ㄴ", "[''", "[',", "[''", "['ㄷ", "[''", "[',", "[''", "['ㄹ", "[''", "[']", "[ㄴ'", '[ㄴ,', "[ㄴ'", '[ㄴㄷ', "[ㄴ'", '[ㄴ,', "[ㄴ'", '[ㄴㄹ', "[ㄴ'", '[ㄴ]', "[',", "[''", "['ㄷ", "[''", "[',", "[''", "['ㄹ", "[''", "[']", "[,'", '[,ㄷ', "[,'", '[,,', "[,'", '[,ㄹ', "[,'", '[,]', "['ㄷ", "[''", "[',", "[''", "['ㄹ", "[''", "[']", "[ㄷ'", '[ㄷ,', "[ㄷ'", '[ㄷㄹ', "[ㄷ'", '[ㄷ]', "[',", "[''", "['ㄹ", "[''", "[']", "[,'", '[,ㄹ', "[,'", '[,]', "['ㄹ", "[''", "[']", "[ㄹ'", '[ㄹ]', "[']", "'ㄱ'", "'ㄱ,", "'ㄱ'", "'ㄱㄴ", "'ㄱ'", "'ㄱ,", "'ㄱ'", "'ㄱㄷ", "'ㄱ'", "'ㄱ,", "'ㄱ'", "'ㄱㄹ", "'ㄱ'", "'ㄱ]", "'',", "'''", "''ㄴ", "'''", "'',", "'''", "''ㄷ", "'''", "'',", "'''", "''ㄹ", "'''", "'']", "','", "',ㄴ", "','", "',,", "','", "',ㄷ", "','", "',,", "','", "',ㄹ", "','", "',]", "''ㄴ", "'''", "'',", "'''", "''ㄷ", "'''", "'',", "'''", "''ㄹ", "'''", "'']", "'ㄴ'", "'ㄴ,", "'ㄴ'", "'ㄴㄷ", "'ㄴ'", "'ㄴ,", "'ㄴ'", "'ㄴㄹ", "'ㄴ'", "'ㄴ]", "'',", "'''", "''ㄷ", "'''", "'',", "'''", "''ㄹ", "'''", "'']", "','", "',ㄷ", "','", "',,", "','", "',ㄹ", "','", "',]", "''ㄷ", "'''", "'',", "'''", "''ㄹ", "'''", "'']", "'ㄷ'", "'ㄷ,", "'ㄷ'", "'ㄷㄹ", "'ㄷ'", "'ㄷ]", "'',", "'''", "''ㄹ", "'''", "'']", "','", "',ㄹ", "','", "',]", "''ㄹ", "'''", "'']", "'ㄹ'", "'ㄹ]", "'']", "ㄱ',", "ㄱ''", "ㄱ'ㄴ", "ㄱ''", "ㄱ',", "ㄱ''", "ㄱ'ㄷ", "ㄱ''", "ㄱ',", "ㄱ''", "ㄱ'ㄹ", "ㄱ''", "ㄱ']", "ㄱ,'", 'ㄱ,ㄴ', "ㄱ,'", 'ㄱ,,', "ㄱ,'", 'ㄱ,ㄷ', "ㄱ,'", 'ㄱ,,', "ㄱ,'", 'ㄱ,ㄹ', "ㄱ,'", 'ㄱ,]', "ㄱ'ㄴ", "ㄱ''", "ㄱ',", "ㄱ''", "ㄱ'ㄷ", "ㄱ''", "ㄱ',", "ㄱ''", "ㄱ'ㄹ", "ㄱ''", "ㄱ']", "ㄱㄴ'", 'ㄱㄴ,', "ㄱㄴ'", 'ㄱㄴㄷ', "ㄱㄴ'", 'ㄱㄴ,', "ㄱㄴ'", 'ㄱㄴㄹ', "ㄱㄴ'", 'ㄱㄴ]', "ㄱ',", "ㄱ''", "ㄱ'ㄷ", "ㄱ''", "ㄱ',", "ㄱ''", "ㄱ'ㄹ", "ㄱ''", "ㄱ']", "ㄱ,'", 'ㄱ,ㄷ', "ㄱ,'", 'ㄱ,,', "ㄱ,'", 'ㄱ,ㄹ', "ㄱ,'", 'ㄱ,]', "ㄱ'ㄷ", "ㄱ''", "ㄱ',", "ㄱ''", "ㄱ'ㄹ", "ㄱ''", "ㄱ']", "ㄱㄷ'", 'ㄱㄷ,', "ㄱㄷ'", 'ㄱㄷㄹ', "ㄱㄷ'", 'ㄱㄷ]', "ㄱ',", "ㄱ''", "ㄱ'ㄹ", "ㄱ''", "ㄱ']", "ㄱ,'", 'ㄱ,ㄹ', "ㄱ,'", 'ㄱ,]', "ㄱ'ㄹ", "ㄱ''", "ㄱ']", "ㄱㄹ'", 'ㄱㄹ]', "ㄱ']", "','", "',ㄴ", "','", "',,", "','", "',ㄷ", "','", "',,", "','", "',ㄹ", "','", "',]", "''ㄴ", "'''", "'',", "'''", "''ㄷ", "'''", "'',", "'''", "''ㄹ", "'''", "'']", "'ㄴ'", "'ㄴ,", "'ㄴ'", "'ㄴㄷ", "'ㄴ'", "'ㄴ,", "'ㄴ'", "'ㄴㄹ", "'ㄴ'", "'ㄴ]", "'',", "'''", "''ㄷ", "'''", "'',", "'''", "''ㄹ", "'''", "'']", "','", "',ㄷ", "','", "',,", "','", "',ㄹ", "','", "',]", "''ㄷ", "'''", "'',", "'''", "''ㄹ", "'''", "'']", "'ㄷ'", "'ㄷ,", "'ㄷ'", "'ㄷㄹ", "'ㄷ'", "'ㄷ]", "'',", "'''", "''ㄹ", "'''", "'']", "','", "',ㄹ", "','", "',]", "''ㄹ", "'''", "'']", "'ㄹ'", "'ㄹ]", "'']", ",'ㄴ", ",''", ",',", ",''", ",'ㄷ", ",''", ",',", ",''", ",'ㄹ", ",''", ",']", ",ㄴ'", ',ㄴ,', ",ㄴ'", ',ㄴㄷ', ",ㄴ'", ',ㄴ,', ",ㄴ'", ',ㄴㄹ', ",ㄴ'", ',ㄴ]', ",',", ",''", ",'ㄷ", ",''", ",',", ",''", ",'ㄹ", ",''", ",']", ",,'", ',,ㄷ', ",,'", ',,,', ",,'", ',,ㄹ', ",,'", ',,]', ",'ㄷ", ",''", ",',", ",''", ",'ㄹ", ",''", ",']", ",ㄷ'", ',ㄷ,', ",ㄷ'", ',ㄷㄹ', ",ㄷ'", ',ㄷ]', ",',", ",''", ",'ㄹ", ",''", ",']", ",,'", ',,ㄹ', ",,'", ',,]', ",'ㄹ", ",''", ",']", ",ㄹ'", ',ㄹ]', ",']", "'ㄴ'", "'ㄴ,", "'ㄴ'", "'ㄴㄷ", "'ㄴ'", "'ㄴ,", "'ㄴ'", "'ㄴㄹ", "'ㄴ'", "'ㄴ]", "'',", "'''", "''ㄷ", "'''", "'',", "'''", "''ㄹ", "'''", "'']", "','", "',ㄷ", "','", "',,", "','", "',ㄹ", "','", "',]", "''ㄷ", "'''", "'',", "'''", "''ㄹ", "'''", "'']", "'ㄷ'", "'ㄷ,", "'ㄷ'", "'ㄷㄹ", "'ㄷ'", "'ㄷ]", "'',", "'''", "''ㄹ", "'''", "'']", "','", "',ㄹ", "','", "',]", "''ㄹ", "'''", "'']", "'ㄹ'", "'ㄹ]", "'']", "ㄴ',", "ㄴ''", "ㄴ'ㄷ", "ㄴ''", "ㄴ',", "ㄴ''", "ㄴ'ㄹ", "ㄴ''", "ㄴ']", "ㄴ,'", 'ㄴ,ㄷ', "ㄴ,'", 'ㄴ,,', "ㄴ,'", 'ㄴ,ㄹ', "ㄴ,'", 'ㄴ,]', "ㄴ'ㄷ", "ㄴ''", "ㄴ',", "ㄴ''", "ㄴ'ㄹ", "ㄴ''", "ㄴ']", "ㄴㄷ'", 'ㄴㄷ,', "ㄴㄷ'", 'ㄴㄷㄹ', "ㄴㄷ'", 'ㄴㄷ]', "ㄴ',", "ㄴ''", "ㄴ'ㄹ", "ㄴ''", "ㄴ']", "ㄴ,'", 'ㄴ,ㄹ', "ㄴ,'", 'ㄴ,]', "ㄴ'ㄹ", "ㄴ''", "ㄴ']", "ㄴㄹ'", 'ㄴㄹ]', "ㄴ']", "','", "',ㄷ", "','", "',,", "','", "',ㄹ", "','", "',]", "''ㄷ", "'''", "'',", "'''", "''ㄹ", "'''", "'']", "'ㄷ'", "'ㄷ,", "'ㄷ'", "'ㄷㄹ", "'ㄷ'", "'ㄷ]", "'',", "'''", "''ㄹ", "'''", "'']", "','", "',ㄹ", "','", "',]", "''ㄹ", "'''", "'']", "'ㄹ'", "'ㄹ]", "'']", ",'ㄷ", ",''", ",',", ",''", ",'ㄹ", ",''", ",']", ",ㄷ'", ',ㄷ,', ",ㄷ'", ',ㄷㄹ', ",ㄷ'", ',ㄷ]', ",',", ",''", ",'ㄹ", ",''", ",']", ",,'", ',,ㄹ', ",,'", ',,]', ",'ㄹ", ",''", ",']", ",ㄹ'", ',ㄹ]', ",']", "'ㄷ'", "'ㄷ,", "'ㄷ'", "'ㄷㄹ", "'ㄷ'", "'ㄷ]", "'',", "'''", "''ㄹ", "'''", "'']", "','", "',ㄹ", "','", "',]", "''ㄹ", "'''", "'']", "'ㄹ'", "'ㄹ]", "'']", "ㄷ',", "ㄷ''", "ㄷ'ㄹ", "ㄷ''", "ㄷ']", "ㄷ,'", 'ㄷ,ㄹ', "ㄷ,'", 'ㄷ,]', "ㄷ'ㄹ", "ㄷ''", "ㄷ']", "ㄷㄹ'", 'ㄷㄹ]', "ㄷ']", "','", "',ㄹ", "','", "',]", "''ㄹ", "'''", "'']", "'ㄹ'", "'ㄹ]", "'']", ",'ㄹ", ",''", ",']", ",ㄹ'", ',ㄹ]', ",']", "'ㄹ'", "'ㄹ]", "'']", "ㄹ']"]
680

In [ ]:
# 9번 : 숫자뽑기
# 숫자 nn을 이루는 자리수 중에서 kk개의 수를 선택하여 조합을 만들 수 있습니다.
# 이 때, 만들 수 있는 조합과 가장 큰 수를 찾는 코드를 작성해주세요.

from itertools import permutations

n = 1723
k = 2
l = [i for i in str(n)]

print(list(map(''.join, permutations(l,k))))
print(max(list(map(''.join, permutations(l,k)))))

['17', '12', '13', '71', '72', '73', '21', '27', '23', '31', '37', '32']
73

# 문자열 1편

In [ ]:
# 문자열 1편
for _ in range(4):
    print(input().upper())

mary
MARY
maRy
MARY
mary!
MARY!
ma ry
MA RY

In [ ]:
# 2번 : 오타 수정하기
for _ in range(3):
    print(input().replace('q','e'))

Hqllo
Hello
querty
euerty
hqllo my namq is saqrym
hello my name is saerym

In [ ]:
# 3번 : 대문자만 지나가세요
# 문장을 입력으로 받아, 입력받은 것 중 대문자만 필터링하는(뽑아서 출력하는) 프로그램을 만들어보세요.

for _ in range(2):
    li = []
    for i in input():
        if i.isupper():
            li.append(i)
    print("".join(li))

HelloWorld
HW
I Love Futureskill]
ILF

In [ ]:
a = '''HelloWorld!
I Love Futureskill'''

z=[x for x in a if x.isupper()]
print("".join(z))

HWILF

In [ ]:
# 4번 : 대소문자 바꿔서 출력하기
for _ in range(2):
    print(input().swapcase())

abC
ABc
AAABBBcccddd
aaabbbCCCDDD

# 문자열 2편

In [ ]:
# 1번 : 2-gram
text = input()

two_gram = zip(text, text[1:])
for i in two_gram:
    print(i[0], i[1], sep='')

Python
Py
yt
th
ho
on

In [ ]:
# 2번 : 문자열 만들기
print(len(input().split(" ")))

안녕하세요. 저는 퓨쳐스킬대학교 인공지능전공 김유진입니다.
5

In [ ]:
# 3번 : Count 사용하기
from collections import Counter

text = input().split()
print(Counter(text).most_common()[0][0]+'(이)가 총',len(text),'표 중',Counter(text).most_common()[0][1],'표로 반장이 되었습니다.')

원범 원범 혜원 혜원 혜원 혜원 유진 유진
혜원(이)가 총 8 표 중 4 표로 반장이 되었습니다.

In [ ]:
# 4번 : 친해지고 싶어
for _ in range(4):
    text = input().split()
    res = []
    for i in range(len(text)):
        res += text[i][0]
    print(''.join(res).upper())

복잡한 세상 편하게 살자
복세편살
사랑해요 퓨쳐스킬
사퓨
As fast as possible
AFAP
As 빠르게 as possible
A빠AP

In [ ]:
a = input().split(' ')
z = ''
for i in a:
    z+=i[0]
print(z)

복잡한 세상 편하게 살자
복세편살

In [ ]:
# 5번 : 문자열 압축하기
# 문자열을 입력으로 받아 반복되는 문자를 압축하여 표현하는 코드를 작성해주세요.

for _ in range(5):
    a = (str(input()) + chr(32)).lower()
    a = a.lower()
    b = ''
    count = 1
    for i in range(len(a) - 1):
        if a[i] == a[i + 1]:
            count += 1
        else:
            b += a[i] + str(count)
            count = 1
    print(b)

aaab
a3b1
aaa!!!
a3!3
aaabbbcdddd
a3b3c1d4
aAaBBbcddDd
a3b3c1d4
Hello! World!!!
h1e1l2o1!1 1w1o1r1l1d1!3

In [ ]:
# 6번 : 빈칸채우기
# 총 문자열의 길이는 50으로 제한하고 사용자가 문자열을 입력하면 그 문자열을 가운데 정렬을 해주고, 나머지 빈 부분에는 '='을 채워넣는 코드를 작성해주세요.
print(input().center(50,'='))

hi
========================hi========================

# 문자열 3편

In [ ]:
# 1번 : 로꾸거
# 입력된 문장을 거꾸로 뒤집어 출력하는 코드를 작성하세요
for _ in range(2):
    print(input()[::-1])

거꾸로
로꾸거
개굴개굴
굴개굴개

In [ ]:
# 2번 : 거꾸로 출력하기
# 한 줄에 여러개의 숫자가 입력되면, 역순으로 그 숫자들을 하나씩 출력하는 코드를 작성해주세요.
for _ in range(2):
    a =input().split()
    print(' '.join(a[::-1]))

1 2 3 4 5
5 4 3 2 1
123 99 7 423 12 44 1
1 44 12 423 7 99 123

In [ ]:
# a = input().split(" ")
# print(a[::-1])

In [ ]:
# 3번 : 몇 번째 행성인가요
n = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
for _ in range(2):
    b = int(input())
    print(n[b-1])

1
수성
3
지구

In [ ]:
a = '수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성'
a = a.split(',')
z = input()
print(a[int(z) -1])

1
수성

In [ ]:
# 4번 : 행성 문제 2
n = '수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성'
n = n.split(',')
name = 'Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune'
name = name.split(',')

In [ ]:
# 4번 : 행성 문제 2

from collections import defaultdict

n = '수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성'
n = n.split(', ')
name = 'Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune'
name = name.split(', ')

dic = defaultdict(list)
for i in range(len(n)):
    dic[n[i]].append(name[i])

for _ in range(2):
    print(dic[input()])

수성
['Mercury']
천왕성
['Uranus']

In [ ]:
a = '수성, 금성, 지구, 화성, 목성, 토성, 천왕성, 해왕성'
a = a.split(', ')

c = 'Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus, Neptune'
c = c.split(', ')

z = {}
for i in range(len(a)):
    z[a[i]] = c[i]
    
x = input()
print(z[x])

천왕성
Uranus

In [ ]:
# 5번 : 각 자리수의 합
for _ in range(3):
    n = input()
    sum = 0

    for i in str(n):
        sum += int(i)
    print(sum)

12
3
1234
10
18234
18

In [ ]:
# 6번 : Str 자료형의 응용
# 1부터 100까지의(100을 포함) 숫자를 구성하는 모든 자릿수의 총 합을 구하는 코드를 작성해주세요.

def sum_cdf(n):
    str_n = str(n)
    sum_cdf = 0

    for cdf in str_n:
        sum_cdf = sum_cdf + int(cdf)
    return sum_cdf
res = 0
for i in range(1,101):
    res = res + sum_cdf(i)
print(res)

901

In [ ]:
# 7번 : 내장함수 응용하기
# 0부터 1000까지 1의 개수를 세는 프로그램을 만들려고 합니다.
n = str(input().split(', '))
n.count('1')

10, 11, 12

4

In [ ]:
# 8번 : 문자열 속 문자 찾기
for _ in range(2):
    text = input()
    word = input()
    print(text.find(word))

pineapple is yummy
apple
4
did you solve futureskill last week
skill
20

# 딕셔너리, 셋, 클래스

In [ ]:
# 1번 : 딕셔너리 만들기
key = input().split()
value = map(int, input().split())

result = dict(zip(key,value))
print(result)

Yujin Hyewon
70 100
{'Yujin': 70, 'Hyewon': 100}

In [ ]:
# 2번 : 딕셔너리 키 이름 중복
d = {'height':180, 'weight':78, 'weight':84, 'temparture':36, 'eyesight':1}
print(d['weight'])

#딕셔너리 키 이름이 중복되었을 경우엔 가장 마지막에 사용한 키가 출력됨

84

In [ ]:
# 3번 : 리스트의 함수 응용
nationWidth = {
     'Korea': 220877,
     'Rusia': 17098242,
     'China': 9596961,
     'France': 543965,
     'Japan': 377915,
     'England' : 242900 }
for i in nationWidth:
    if i != 'Korea':
        dif = abs(nationWidth['Korea'] - nationWidth[i])
        nationWidth[i] = dif

na = nationWidth.items()
country = ''

for i in na:
    if i[1] == min(nationWidth.values()):
        country = i[0]
print(country, min(nationWidth.values()))

England 22023

In [ ]:
# 4번 : 중복 제거
people = [
         ('김철수', '01040442913'),
         ('이훈이', '01041442914'),
         ('채성아', '01040342914'),
         ('김철수', '01040442913'),
         ('신짱아', '01040443914'),
         ('신짱아', '01040443914'),
         ('김철수', '01040442913'),
         ('신짱아', '01040443914'),
         ('신짱아', '01040443914'),
         ('김철수', '01040442913'),
         ('신짱구', '01040412914'),
         ('신짱아', '01040443914'),
         ('김철수', '01040442913'),
         ('채성아', '01040342914'),
         ('신짱아', '01040443914'),
         ('신짱아', '01040443914'),
         ('김철수', '01040442913'),
         ]
print(len(set(people)))

5

In [ ]:
# 5번 : Set 은 어떻게 만드나요
a = {1, 2, 3, 5, 6, 7}
b = {}
c = set('python')
d = set(range(5))
e = set()
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'set'>
<class 'dict'>
<class 'set'>
<class 'set'>
<class 'set'>

In [ ]:
# 6번 : 게임 캐릭터 클래스 만들기
class Wizard:
    def __init__(self,health,mana,armor):
        self.health = health
        self.mana = mana
        self.armor = armor
    def attack(self):
        print('파이어볼')
x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

# 파싱

In [ ]:
# 1번 : 콤마 찍기
# 임의의 숫자를 입력받아 천 단위로 콤마(,)를 찍어 출력하는 코드를 작성하세요.
def comma(a):
    if len(a) <= 3:
        return a
    else:
        return comma(a[:len(a)-3]) + ',' + a[len(a)-3:]

for _ in range(3):
    print(comma(input()))

100
100
1000
1,000
12345678
12,345,678

In [ ]:
while True:
    n = int(input())
    if n==0: break;
    print('{:,}'.format(n))

'678'

In [ ]:
# 2번 : 괄호 문자열
# 입력으로 주어진 괄호 문자열이 바른 문자열인지 바르지 않은 문자열인지 True/False 로 판단하여 출력하는 코드를 작성해보세요.
for _ in range(3):
    sentence = input()
    judge = 0
    if sentence.count('(') == sentence.count(')') :
        judge = True
    else:
        judge = False
    print(judge)

()
True
(())
True
((()
False

In [ ]:
# 3번 : 수학 괄호 파싱
def math(e):
    stack = []
    for i in range(len(e)):
        if e[i] == '(':
            stack.append(i)
        elif e[i] == ')':
            if len(stacke) == 0:
                return False
            stack.pop()
        if len(stack) != 0:
            return False
        return True
        
while True:
    order = input('수식입력(1), 프로그램 종료(2) :')
    if order == '1':
        ex = input('수식을 입력하세요 :')
        print(math(ex))
    else:
        break

수식입력(1), 프로그램 종료(2) :1
수식을 입력하세요 :3 + 5
True
수식입력(1), 프로그램 종료(2) :1
수식을 입력하세요 :5 + 7) * (3 * 5)
True
수식입력(1), 프로그램 종료(2) :1
수식을 입력하세요 :(5 + 7) * (3 * 5)
False
수식입력(1), 프로그램 종료(2) :break

In [ ]:
# 4번 : 수학 괄호 파싱 2
def math_1(e):
    stack = []
    for i in range(len(e)):
        if e[i] == '{':
            stack.append(i)
            if math(list(e[i+1:])) is False:
                return True
            elif ex[i] == '}':
                if len(stack) == 0:
                    return False
                stack.pop()
            else:
                return math(list(e[i+1:]))
    if len(stack) != 0:
        return False
    return True

while 1:
    order = input('수식입력(1), 프로그램 종료(2) :')
    if order == '1':
        ex = input('수식을 입력하세요 :')
        print(math_1(ex))
    else:
        break

수식입력(1), 프로그램 종료(2) :1
수식을 입력하세요 :5 + 7 * {(3 * 5)}
True
수식입력(1), 프로그램 종료(2) :1
수식을 입력하세요 :5 + 7){ * (3 * 5)
True
수식입력(1), 프로그램 종료(2) :1
수식을 입력하세요 :{{{(5 + 7) * (3 * 5)}}}
True
수식입력(1), 프로그램 종료(2) :2

In [ ]:
def math(e):
    try:
        return True if eval(e) else False
    except:
        return False

while True:
    order = input('수식입력(1), 프로그램 종료(2) :')
    if order == '1':
        ex = input('수식을 입력하세요 :')
        print(math(ex.replace('{','(').replace('}',')')))
    else:
        break

수식입력(1), 프로그램 종료(2) :1
수식을 입력하세요 :5 + 7 * {(3 * 5)}
True
수식입력(1), 프로그램 종료(2) :1
수식을 입력하세요 :5 + 7){ * (3 * 5)
False
수식입력(1), 프로그램 종료(2) :1
수식을 입력하세요 :{{{(5 + 7) * (3 * 5)}}}
True
수식입력(1), 프로그램 종료(2) :2

In [ ]:
# 5번 : 키보드 고장
import pandas as pd
from random import randint

df = pd.read_csv('/content/montly.csv',thousands=',') 
df.월급여 = df.월급여.astype(int)

for i in range(len(df.월급여)):
    df['월급여2'] = [randint(1,df.월급여[i])]
df

ValueError: ignored

In [ ]:
randint(1,df.월급여[0])

2843005

In [ ]:
import pandas as pd
from random import randint

df = pd.read_csv('/content/montly.csv',thousands=',') 
df.월급여 = df.월급여.astype(int)
df.insert(2,'월급여2',[randint(1,df.월급여[i]) for i in range(len(df.월급여))])
dif = df['월급여'] - df['월급여2']
df.insert(2,'월급여1',dif)
df.drop(['월급여'],axis=1,inplace=True)
df

    이름     월급여1     월급여2  은행               계좌번호
0  김과장  1262938  2737062  퓨쳐  123-4567-8910-123
1  이과장  3470393   329607  퓨쳐  234-5678-9101-112
2  강과장   888165  2611835  퓨쳐  456-7891-0111-213
3  김대리   298510  2401490  스킬  567-8910-1112-131
4  이사원    61901  2438099  스킬  678-9101-1121-314

In [ ]:
import pandas as pd
from random import randint

df = pd.read_csv('montly.csv',thousands=',')  # df.월급여 = df.월급여.replace(',','')
df.월급여 = df.월급여.astype(int)
df.insert(2,'월급여2',[randint(1,df.월급여[i]) for i in range(len(df.월급여))])

def sol(a,b): return a-b
df['월급여'] = df.apply(lambda x:sol(x['월급여'],x['월급여2']),axis=1)
df

    이름      월급여     월급여2  은행               계좌번호
0  김과장  1994633  2005367  퓨쳐  123-4567-8910-123
1  이과장  1447880  2352120  퓨쳐  234-5678-9101-112
2  강과장  1306343  2193657  퓨쳐  456-7891-0111-213
3  김대리  2288521   411479  스킬  567-8910-1112-131
4  이사원  1621397   878603  스킬  678-9101-1121-314

# 프로그래밍 2편

In [21]:
# 1번 : 이상한 369
def sol(n):
    def check(n):
        for i in str(n):
            if int(i) == 0 or int(i) % 3 != 0:
                return 0
        return 1

    cnt = 0
    for i in range(1,n+1):
        cnt += check(i) 
    return cnt

print(sol(int(input())))

93
10

In [40]:
# 2번 : 버스시간표
li = ['12:30','13:20','14:13']
now = '12:40'

res = []

def min_change(time):
    return int(time.split(':')[0])*60 + int(time.split(':')[1])
def hour_change(time):
    return '{:02d}시간 {:02d}분'.format(time//60,time%60)

for i in li:
    if min_change(i) - changeMin(now) < 0:
        res.append('지나갔습니다.')
    else:
        res.append(hour_change(changeMin(i)-changeMin(now)))
print(res)

['지나갔습니다.', '00시간 40분', '01시간 33분']

In [50]:
# 3번 : 날짜 출력하기
from datetime import date
print(str(date.today().year)+str(date.today().month)+str(date.today().day))

2021318

In [59]:
# # 4번 : 천하제일 먹기대회
nameList = ["손오공", "야모챠", "메지터", "비콜로"]
scoreList = [70, 10, 55, 40]

res = {}
a = list([i,j] for i,j in zip(nameList,scoreList))
a = sorted(a, key= lambda a:a[1], reverse=True)

for i in range(len(a)):
    res[a[i][0]] = i+1
print(res)

{'손오공': 1, '메지터': 2, '비콜로': 3, '야모챠': 4}

# 프로그래밍 3편

In [60]:
# 1번 : 아르바이트
records = [97, 86, 75, 66, 55, 97, 85, 97, 97, 95]
numCandy = 0
for i in range(3) :
    max_value = max(records)
    for j in range(len(records)):
        if max_value in records:
            numCandy += 1
            records.remove(max_value)
print(numCandy)

6

In [64]:
# 2번 : 수영장 채우기
for _ in range(3):
    water = int(input())
    res = 0

    while water > 2:
        if water > 7 :
            res += water // 7
            water = water % 7
        else:
            res += water // 3
            water = water % 3
    if water == 0:
        print(res)
    else:
        print(-1)

24
4
30
-1
11
-1

In [69]:
# 3번 : 악수 
n =int(input())
count = 0
people = 0
res = []

while True:
    a = people * (people+1) // 2
    people+=1
    if n < a:
        break
count = n - (people-2)*(people-1) // 2
print(count,people)

59
4 12

In [87]:
# 4번 : 놀이동산에 가자
limit_weight = int(input())
n = int(input())
list_weight = [20,20,20,20,20,20]
count =0
maximum = 0

for i in range(n) :
    maximum += list_weight[i]
    if maximum < limit_weight :
        count+=1
    else:
        break
print(count)

50
5
2

# 프로그래밍 4편

In [20]:
# 1번 : 숫자놀이
foo = int(input())

def check(n) :
    max_n = max([int(i) for i in str(n)])
    cnt = [ str(i)+str(str(n).count(str(i))) for i in range(1,max_n+1) ]
    return ''.join(cnt)

def soultion(N):
    res = 1
    if N == 1:
        return res
    else:
        for i in range(N-1):
            res = test(res)
    return res
print(soultion(foo))

6
122131

In [48]:
# 2번 : 토끼들의 행진
stoneDurability = [1, 2, 1, 4]
rabbitAbility = [2, 1]

def simulate(stoneDurability, rabbitAbility):
    res = ["pass" for i in range(len(rabbitAbility))]
    for i in range(len(rabbitAbility)):
        p = 0
        while p<len(stoneDurability)-1:
            p += rabbitAbility[i]
            stoneDurability[p-1]-=1
            if stoneDurability[p-1]<0:
                answer[i] = "fail"
    print(res)
simulate(stoneDurability, rabbitAbility)

['pass', 'pass']

In [1]:
# 3번 : 같은 의약 성분을 찾아라
import random as r

l = [chr(i) for i in range(65, 91)]

medicine = []
total_medicine = []
similar_medicine = []

for i in range(8):
    medicine.append(r.choice(l))

for i in range(100):
    total_medicine.append(r.sample(l, 8))

for i in total_medicine:
    if len(set(i) & set(medicine)) == 
        similar_medicine.append(i)

print(similar_medicine)

NameError: ignored

In [18]:
import random as r

l = [chr(i) for i in range(65, 91)]

medicine = []
total_medicine = []
similar_medicine = []

for i in range(8):
    medicine.append(r.choice(l))
print('input :', medicine)
for i in range(100):
    total_medicine.append(r.sample(l, 8))

for i in total_medicine:
    if len(set(i) & set(medicine)) >= 4:
        similar_medicine.append(i)
similar_medicine

input : ['U', 'T', 'C', 'S', 'W', 'Y', 'G', 'H']

[['S', 'I', 'R', 'C', 'K', 'G', 'W', 'F'],
 ['E', 'B', 'G', 'W', 'P', 'I', 'S', 'C'],
 ['T', 'M', 'S', 'U', 'R', 'X', 'G', 'O'],
 ['V', 'C', 'S', 'A', 'F', 'H', 'U', 'L'],
 ['G', 'X', 'Y', 'T', 'W', 'D', 'R', 'S'],
 ['V', 'T', 'Y', 'M', 'S', 'D', 'N', 'C'],
 ['Q', 'Y', 'I', 'U', 'G', 'C', 'L', 'R'],
 ['Y', 'X', 'V', 'N', 'U', 'Q', 'H', 'G'],
 ['C', 'M', 'Z', 'S', 'I', 'T', 'W', 'X'],
 ['F', 'C', 'A', 'K', 'G', 'W', 'T', 'I'],
 ['P', 'J', 'U', 'T', 'V', 'W', 'G', 'Z'],
 ['W', 'P', 'T', 'O', 'N', 'U', 'K', 'C'],
 ['G', 'F', 'P', 'Y', 'A', 'M', 'S', 'T']]

# 프로그래밍 5편

In [16]:
# 1번 : 퍼즐게임
# 0:빈칸 1: 파랑 2: 빨강 3: 노랑 4: 초록 5:주황
game_map = [
	[0,0,0,0],
	[0,1,0,3],
	[2,5,0,1],
	[2,4,4,1],
	[5,1,1,1]
	]
operation = [1,1,1,1,3,3,3]
def simulate(game_map,operation):
    m = 0
    stack = [0]
    while operation:
        a = operation.pop(0)
        for i in range(len(game_map)):
            if game_map[i][a-1] != 0:
                if stack[len(stack)-1] == game_map[i][a-1]:
                    m += game_map[i][a-1] * 2
                    game_map[i][a-1] = 0
                    stack.pop()
                else:
                    stack.append(game_map[i][a-1])
            else:
                if i ==len(game_map) -1 and game_map[i][a-1] ==0:
                    m -= 1
    return m

simulate(game_map,operation)

4