In [1]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/27/67/5158f846202d7f012d1c9ca21c3549a58fd3c6707ae8ee823adcaca6473c/pyspark-3.0.2.tar.gz (204.8MB)
     |████████████████████████████████| 204.8MB 73kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 51.0MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.2-py2.py3-none-any.whl size=205186687 sha256=035618a3fbe30f69a60db28e7d828081597b56ff16e6b6d3aeabfaff9b3d0f55
  Stored in directory: /root/.cache/pip/wheels/8b/09/da/c1f2859bcc86375dc972c5b6af4881b3603269bcc4c9be5d16
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.2

In [2]:
from pyspark.sql import SparkSession 
spark=SparkSession.builder.appName('rc').getOrCreate()

In [3]:
from pyspark.sql.functions import *

In [4]:
df=spark.read.csv('/content/drive/MyDrive/datacamp/movie_ratings_df.csv',inferSchema=True,header=True)

In [5]:
print((df.count(),len(df.columns)))

(100000, 3)

In [6]:
df.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- rating: integer (nullable = true)

In [7]:
df.orderBy(rand()).show(10,False)

+------+---------------------------------------+------+
|userId|title                                  |rating|
+------+---------------------------------------+------+
|389   |Reality Bites (1994)                   |2     |
|839   |Event Horizon (1997)                   |2     |
|305   |Ma vie en rose (My Life in Pink) (1997)|4     |
|757   |Spawn (1997)                           |3     |
|181   |An Unforgettable Summer (1994)         |1     |
|473   |Chasing Amy (1997)                     |5     |
|551   |Nixon (1995)                           |2     |
|346   |Showgirls (1995)                       |1     |
|864   |Rob Roy (1995)                         |3     |
|69    |Chasing Amy (1997)                     |5     |
+------+---------------------------------------+------+
only showing top 10 rows

In [9]:
df.show(10,False)

+------+------------+------+
|userId|title       |rating|
+------+------------+------+
|196   |Kolya (1996)|3     |
|63    |Kolya (1996)|3     |
|226   |Kolya (1996)|5     |
|154   |Kolya (1996)|3     |
|306   |Kolya (1996)|5     |
|296   |Kolya (1996)|4     |
|34    |Kolya (1996)|5     |
|271   |Kolya (1996)|4     |
|201   |Kolya (1996)|4     |
|209   |Kolya (1996)|4     |
+------+------------+------+
only showing top 10 rows

In [10]:
df.groupBy('userId').count().orderBy('count',ascending=False).show(10,False)

+------+-----+
|userId|count|
+------+-----+
|405   |737  |
|655   |685  |
|13    |636  |
|450   |540  |
|276   |518  |
|416   |493  |
|537   |490  |
|303   |484  |
|234   |480  |
|393   |448  |
+------+-----+
only showing top 10 rows

In [11]:
df.groupBy('userId').count().orderBy('count',ascending=True).show(10,False)

+------+-----+
|userId|count|
+------+-----+
|732   |20   |
|631   |20   |
|572   |20   |
|685   |20   |
|93    |20   |
|34    |20   |
|636   |20   |
|300   |20   |
|926   |20   |
|596   |20   |
+------+-----+
only showing top 10 rows

In [12]:
df.groupBy('title').count().orderBy('count',ascending=False).show(10,False)

+-----------------------------+-----+
|title                        |count|
+-----------------------------+-----+
|Star Wars (1977)             |583  |
|Contact (1997)               |509  |
|Fargo (1996)                 |508  |
|Return of the Jedi (1983)    |507  |
|Liar Liar (1997)             |485  |
|English Patient, The (1996)  |481  |
|Scream (1996)                |478  |
|Toy Story (1995)             |452  |
|Air Force One (1997)         |431  |
|Independence Day (ID4) (1996)|429  |
+-----------------------------+-----+
only showing top 10 rows

In [13]:
df.groupBy('title').count().orderBy('count',ascending=True).show(10,False)

+------------------------------------------+-----+
|title                                     |count|
+------------------------------------------+-----+
|Marlene Dietrich: Shadow and Light (1996) |1    |
|Next Step, The (1995)                     |1    |
|Lashou shentan (1992)                     |1    |
|Modern Affair, A (1995)                   |1    |
|Fear, The (1995)                          |1    |
|Leopard Son, The (1996)                   |1    |
|Mad Dog Time (1996)                       |1    |
|JLG/JLG - autoportrait de d�cembre (1994) |1    |
|Vie est belle, La (Life is Rosey) (1987)  |1    |
|Target (1995)                             |1    |
+------------------------------------------+-----+
only showing top 10 rows

StringIndexer : string 값을 수치형으로

In [14]:
from pyspark.ml.feature import StringIndexer,IndexToString

In [15]:
stringIndexer = StringIndexer(inputCol="title", outputCol="title_new")

In [16]:
model = stringIndexer.fit(df)

In [17]:
indexed = model.transform(df)

In [18]:
indexed.show(10)

+------+------------+------+---------+
|userId|       title|rating|title_new|
+------+------------+------+---------+
|   196|Kolya (1996)|     3|    287.0|
|    63|Kolya (1996)|     3|    287.0|
|   226|Kolya (1996)|     5|    287.0|
|   154|Kolya (1996)|     3|    287.0|
|   306|Kolya (1996)|     5|    287.0|
|   296|Kolya (1996)|     4|    287.0|
|    34|Kolya (1996)|     5|    287.0|
|   271|Kolya (1996)|     4|    287.0|
|   201|Kolya (1996)|     4|    287.0|
|   209|Kolya (1996)|     4|    287.0|
+------+------------+------+---------+
only showing top 10 rows

In [20]:
indexed.orderBy(rand()).show(10)

+------+--------------------+------+---------+
|userId|               title|rating|title_new|
+------+--------------------+------+---------+
|   655|Seven (Se7en) (1995)|     2|     80.0|
|   214|   Local Hero (1983)|     5|    525.0|
|   792|Escape from L.A. ...|     2|    368.0|
|   659|As Good As It Get...|     4|    301.0|
|   826|       Casper (1995)|     3|    587.0|
|   655|      Go Fish (1994)|     3|   1013.0|
|    13|        Glory (1989)|     5|    161.0|
|   756|When the Cats Awa...|     4|   1001.0|
|   405|Awfully Big Adven...|     3|   1180.0|
|   699|  Primal Fear (1996)|     2|    146.0|
+------+--------------------+------+---------+
only showing top 10 rows

In [21]:
indexed.groupBy('title_new').count().orderBy('count',ascending=False).show(10,False)

+---------+-----+
|title_new|count|
+---------+-----+
|0.0      |583  |
|1.0      |509  |
|2.0      |508  |
|3.0      |507  |
|4.0      |485  |
|5.0      |481  |
|6.0      |478  |
|7.0      |452  |
|8.0      |431  |
|9.0      |429  |
+---------+-----+
only showing top 10 rows

In [22]:
train,test=indexed.randomSplit([0.75,0.25])

In [23]:
train.count()

74623

In [24]:
test.count()

25377

Alternating Least Squares 알고리즘 - Spark에 내장되어 있는 추천 알고리즘
,ALS 메서드를 사용할 때 시스템은 순위, 정규화, 반복 매개변수를 사용하여 가장 적합한 모델을 찾음

추천 엔진
* 데이터를 수집하기 위해 사용자 상호작용을 기록하는 확장 가능한 프런트엔드

* 머신러닝 플랫폼으로 액세스할 수 있는 영구 저장소. 이 저장소에 데이터를 로드하려면 데이터 가져오기-내보내기 및 변환과 같은 여러 단계를 수행해야 할 수 있습니다.

* 기존 콘텐츠를 분석하여 관련된 추천 항목을 만들 수 있는 머신러닝 플랫폼

* 추천 항목의 시의성 요구사항을 기반으로 프런트엔드에서 실시간으로 또는 나중에 사용할 수 있는 저장소

In [25]:
from pyspark.ml.recommendation import ALS

In [27]:
rec=ALS(maxIter=10,
        regParam=0.01,
        userCol='userId',
        itemCol='title_new',
        ratingCol='rating',
        nonnegative=True,
        coldStartStrategy="drop")

In [28]:
rec_model=rec.fit(train)

In [29]:
predicted_ratings=rec_model.transform(test)

In [30]:
predicted_ratings.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- title: string (nullable = true)
 |-- rating: integer (nullable = true)
 |-- title_new: double (nullable = false)
 |-- prediction: float (nullable = false)

In [31]:
predicted_ratings.orderBy(rand()).show(10)

+------+--------------------+------+---------+----------+
|userId|               title|rating|title_new|prediction|
+------+--------------------+------+---------+----------+
|   782|       Mother (1996)|     2|    170.0| 2.1171088|
|   290|Lost World: Juras...|     3|    190.0| 2.8683853|
|   109|    Cape Fear (1991)|     4|    160.0|   3.67037|
|    18|Treasure of the S...|     4|    421.0| 4.6111684|
|   207|Glimmer Man, The ...|     3|    617.0| 2.6924212|
|   451|  Money Talks (1997)|     4|    362.0| 3.1377785|
|   169|Gone with the Win...|     4|    162.0|  4.349395|
|   230|Christmas Carol, ...|     4|    468.0| 3.4983423|
|   263|Fugitive, The (1993)|     4|     23.0| 4.1242876|
|   608|  Stand by Me (1986)|     5|     86.0| 3.5233638|
+------+--------------------+------+---------+----------+
only showing top 10 rows

In [32]:
from pyspark.ml.evaluation import RegressionEvaluator

In [33]:
evaluator=RegressionEvaluator(metricName='rmse',predictionCol='prediction',labelCol='rating')

In [38]:
#rmse=evaluator.evaluate(prediction)
#print(rmse)

In [39]:
unique_movies=indexed.select('title_new').distinct()

In [40]:
unique_movies.count()

1664

In [41]:
a = unique_movies.alias('a')

In [42]:
user_id=85

In [44]:
watched_movies=indexed.filter(indexed['userId'] == user_id).select('title_new').distinct()

In [45]:
watched_movies.count()

287

In [46]:
b=watched_movies.alias('b')

In [47]:
total_movies = a.join(b, a.title_new == b.title_new,how='left')

In [48]:
total_movies.show(10,False)

+---------+---------+
|title_new|title_new|
+---------+---------+
|305.0    |305.0    |
|596.0    |null     |
|299.0    |null     |
|769.0    |null     |
|692.0    |null     |
|934.0    |null     |
|1051.0   |null     |
|496.0    |null     |
|558.0    |558.0    |
|170.0    |null     |
+---------+---------+
only showing top 10 rows

In [49]:
remaining_movies=total_movies.where(col("b.title_new").isNull()).select(a.title_new).distinct()

In [50]:
remaining_movies.count()

1377

In [51]:
remaining_movies=remaining_movies.withColumn("userId",lit(int(user_id)))

In [52]:
remaining_movies.show(10,False)

+---------+------+
|title_new|userId|
+---------+------+
|596.0    |85    |
|299.0    |85    |
|769.0    |85    |
|692.0    |85    |
|934.0    |85    |
|1051.0   |85    |
|496.0    |85    |
|170.0    |85    |
|184.0    |85    |
|576.0    |85    |
+---------+------+
only showing top 10 rows

In [53]:
recommendations=rec_model.transform(remaining_movies).orderBy('prediction',ascending=False)

In [54]:
recommendations.show(5,False)

+---------+------+----------+
|title_new|userId|prediction|
+---------+------+----------+
|1277.0   |85    |6.0915475 |
|1411.0   |85    |5.142268  |
|488.0    |85    |4.9674134 |
|1055.0   |85    |4.9455795 |
|1306.0   |85    |4.9157705 |
+---------+------+----------+
only showing top 5 rows

In [55]:
movie_title = IndexToString(inputCol="title_new", outputCol="title",labels=model.labels)

final_recommendations=movie_title.transform(recommendations)

In [56]:
final_recommendations.show(10,False)

+---------+------+----------+------------------------------------------------------+
|title_new|userId|prediction|title                                                 |
+---------+------+----------+------------------------------------------------------+
|1277.0   |85    |6.0915475 |Mina Tannenbaum (1994)                                |
|1411.0   |85    |5.142268  |Boys, Les (1997)                                      |
|488.0    |85    |4.9674134 |Wallace & Gromit: The Best of Aardman Animation (1996)|
|1055.0   |85    |4.9455795 |Red Firecracker, Green Firecracker (1994)             |
|1306.0   |85    |4.9157705 |Faust (1994)                                          |
|1296.0   |85    |4.780933  |Best Men (1997)                                       |
|285.0    |85    |4.739542  |Wrong Trousers, The (1993)                            |
|1198.0   |85    |4.7066956 |Pather Panchali (1955)                                |
|829.0    |85    |4.6819634 |My Man Godfrey (1936)                                 |
|1014.0   |85    |4.6787996 |Hard Eight (1996)                                     |
+---------+------+----------+------------------------------------------------------+
only showing top 10 rows

In [57]:
def top_movies(user_id,n):
    """
    This function returns the top 'n' movies that user has not seen yet but might like 
    
    """
    #assigning alias name 'a' to unique movies df
    a = unique_movies.alias('a')
    
    #creating another dataframe which contains already watched movie by active user 
    watched_movies=indexed.filter(indexed['userId'] == user_id).select('title_new')
    
    #assigning alias name 'b' to watched movies df
    b=watched_movies.alias('b')
    
    #joining both tables on left join 
    total_movies = a.join(b, a.title_new == b.title_new,how='left')
    
    #selecting movies which active user is yet to rate or watch
    remaining_movies=total_movies.where(col("b.title_new").isNull()).select(a.title_new).distinct()
    
    
    #adding new column of user_Id of active useer to remaining movies df 
    remaining_movies=remaining_movies.withColumn("userId",lit(int(user_id)))
    
    
    #making recommendations using ALS recommender model and selecting only top 'n' movies
    recommendations=rec_model.transform(remaining_movies).orderBy('prediction',ascending=False).limit(n)
    
    
    #adding columns of movie titles in recommendations
    movie_title = IndexToString(inputCol="title_new", outputCol="title",labels=model.labels)
    final_recommendations=movie_title.transform(recommendations)
    
    #return the recommendations to active user
    return final_recommendations.show(n,False)

In [58]:
top_movies(85,10)

+---------+------+----------+------------------------------------------------------+
|title_new|userId|prediction|title                                                 |
+---------+------+----------+------------------------------------------------------+
|1277.0   |85    |6.0915475 |Mina Tannenbaum (1994)                                |
|1411.0   |85    |5.142268  |Boys, Les (1997)                                      |
|488.0    |85    |4.9674134 |Wallace & Gromit: The Best of Aardman Animation (1996)|
|1055.0   |85    |4.9455795 |Red Firecracker, Green Firecracker (1994)             |
|1306.0   |85    |4.9157705 |Faust (1994)                                          |
|1296.0   |85    |4.780933  |Best Men (1997)                                       |
|285.0    |85    |4.739542  |Wrong Trousers, The (1993)                            |
|1198.0   |85    |4.7066956 |Pather Panchali (1955)                                |
|829.0    |85    |4.6819634 |My Man Godfrey (1936)                                 |
|1014.0   |85    |4.6787996 |Hard Eight (1996)                                     |
+---------+------+----------+------------------------------------------------------+